body {
    background-color: rgb(116, 17, 215);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(9, 8, 8);
    text-align: center;
}

h1 {
    color: rgb(246, 247, 244);
    font-weight: 700;
}

#message-el {
    font-weight: 500;
    font-style: italic;
}

button {

    margin-top: 5px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    width: 250px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}